.floating-links-container {
    position: fixed;
    top: 23vh;
    right: 2vw;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 997;
  }
  
  .floating-button {
    background: #2C3E50;
    color: white;
    font-size: 22px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 153, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
  }
  
  .floating-button:hover {
    transform: scale(1.1);
  }
  
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 46px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }
  
  .floating-links-container .links.open {
    opacity: 1;
    transform: translateX(0);
  }
  
  .link {
    background: white;
    color: black;
    padding: 10px 15px;
    margin-right: 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .link svg {
    margin-right: 8px;
  }
  
  .link:hover {
    transform: scale(1.05);
  }
  
  .youtube {
    background: red;
    color: white;
  }
  
  .telegram {
    background: #0088cc;
    color: white;
  }
  
